<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <h2>Left Sidenav.</h2>

        <md-list>
            <md-list-item>
                <button md-raised-button class="md-raised md-primary" #mybutton (click)="sidenav.close()">Close</button>
            </md-list-item>
            <md-list-item>
                <button md-raised-button class="md-raised md-default" [routerLink]="['./deals']">Deals</button>
            </md-list-item>
        </md-list>

    </md-sidenav>

    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>

        <a [routerLink]="['/']">Angular Material2 Example App</a>

        <span class="app-toolbar-filler"></span>
        <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
        <button md-button [routerLink]="['./tasks']">TODOS</button>
    </md-toolbar>

    <router-outlet></router-outlet>

</md-sidenav-layout>

<!--<span class="app-action">-->
<!--<button md-fab><md-icon>check circle</md-icon></button>-->
<!--</span>-->